# .env
# Environment variables for PostgreSQL + Docker + Colima setup
# ------------------------------------------------------------

# ============================================================
# DATABASE CONFIGURATION
# ============================================================
DB_IMAGE=postgres:16
DB_NAME=test_db
DB_USER=#<DEFAULT_USER>
DB_PASSWORD= #<DEFAULT_PASSWORD>
DB_HOST=localhost
DB_HOST_PORT=5432
PG_DATA=/var/lib/postgresql/data
PG_VOLUME_NAME=datamart-postgresql-docker-aws_pgdata

# ============================================================
# DOCKER CONFIGURATION
# ============================================================
YML_FILE=docker-compose.yml
DOCKER_PROFILE=postgres_db

# ============================================================
# TEST / UTILITY SCRIPTS
# ============================================================
DB_CONN_TEST=scripts/check_db_connection.py

# ============================================================
# COLIMA VM CONFIGURATION
# ============================================================
COLIMA_PROFILE=postgre
CPU=2
MEM=2
DISK=10

