version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: lau
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: test_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d test_db"]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  pgdata:
    driver: local